@import "../../sass/main.scss";

.mainBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--mainGreyColor);
  height: 23vh;
  padding: 2vh 3vw;
  border-bottom: 3px solid var(--mainBorderColor);

  @include mq(desktop) {
    height: 20vh;
    padding: 2vh 1vw;
  }

  .personAvatar {
    height: 50%;
  }

  .searchForm {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 33%;

    .submitBtn {
      height: 100%;
      width: 40px;
      top: 29%;
      left: 15px;
      border-radius: 20px 0 0 20px;
      border: 2px solid #d7d7d7;
      border-right: 0;
      background-color: white;
      transition: border-color 50ms linear;

      &:hover .searchIcon {
        fill: #bb821d;
      }

      .searchIcon {
        max-height: 100%;
        max-width: 15px;
      }
    }

    .searchInput {
      height: 100%;
      width: 100%;
      padding-right: 10px;
      border: 2px solid #d7d7d7;
      border-left: 0;
      border-radius: 0 20px 20px 0;
      transition: border-color 50ms linear;
      &:focus-visible {
        outline: 0px;
        border-color: #d78b00;
        + .submitBtn {
          border-color: #d78b00;
        }
      }
    }
  }
}
