@import "../../sass/main.scss";

.userAvatar {
  height: 60%;
  margin-right: 3vw;
  @include mq(desktop) {
    margin-right: 2vw;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  margin-right: auto;

  .userName {
    font-size: 17px;
  }

  .userLastMessage {
    font-size: 14px;
    color: #858383;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.lastMessageDate {
  white-space: nowrap;
  margin-left: 3vw;
  font-size: 15px;
  @include mq(tablet) {
    font-size: 17px;
  }

  @include mq(desktop) {
    font-size: 15px;
    margin-left: 1vw;
  }
}
