body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 30px 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

h3,
p {
  margin: 0;
}

td,
th {
  padding: 0;
}

.noteTable {
  position: relative;
  width: 90vw;
  min-width: 750px;
  font-family: "Roboto";
  text-align: center;
  border-spacing: 0 10px;
}
.noteTable .tableHeader {
  background-color: #999999;
  height: 40px;
  color: white;
}
.noteTable .tableHeader .headerTitleName {
  border-radius: 10px 0 0 10px;
}
.noteTable .tableHeader .headerTitleCreated,
.noteTable .tableHeader .headerTitleDates {
  width: 120px;
}
.noteTable .tableHeader .headerTitleCategory {
  width: 140px;
}
.noteTable .tableHeader .headerButtonsBlock {
  margin-left: auto;
  border-radius: 0 10px 10px 0;
}
.noteTable .tableHeader .headerButtonsBlock .buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}
.noteTable .tableHeader .headerButtonsBlock .buttonsWrapper .tableButton {
  width: 30px;
  background-color: #999999;
}
.noteTable .tableHeader .headerButtonsBlock .buttonsWrapper .tableButton:last-child {
  border-radius: 0 10px 10px 0;
}
.noteTable .tableHeader .headerButtonsBlock .buttonsWrapper .tableButton .tableIcon {
  height: 20px;
  width: 20px;
  fill: white;
}
.noteTable .tableNoteBlock {
  height: 70px;
  color: #828388;
  background-color: #e8eaf5;
}
.noteTable .tableNoteBlock:last-child {
  margin-bottom: 0;
}
.noteTable .tableNoteBlock .tableNoteNameBlock {
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 70px;
}
.noteTable .tableNoteBlock .tableNoteNameBlock .iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background-color: #616161;
  border-radius: 50%;
  margin-right: 10px;
}
.noteTable .tableNoteBlock .tableNoteNameBlock .iconWrapper .noteCategoryIcon {
  height: 20px;
  width: 20px;
  fill: white;
}
.noteTable .tableNoteBlock .tableText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
  overflow-y: auto;
}
.noteTable .tableNoteBlock .tableText::-webkit-scrollbar {
  display: none;
}
.noteTable .tableNoteBlock .tableTextName {
  width: 125px;
  color: #59595b;
  font-weight: bold;
}
.noteTable .tableNoteBlock .dates {
  width: 100px;
  margin: auto;
}
.noteTable .tableNoteBlock .tableButtonsBlock {
  display: flex;
  height: 70px;
}
.noteTable .tableNoteBlock .tableButtonsBlock .noteButton {
  background-color: #e8eaf5;
  width: 30px;
}
.noteTable .tableNoteBlock .tableButtonsBlock .noteButton .noteButtonIcon {
  height: 20px;
  width: 20px;
  fill: #7a7a7a;
}
.noteTable .tableNoteBlock .tableButtonsBlock .noteButton .firstIcon {
  height: 25px;
  width: 25px;
}

.noteForm {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: space-between;
  height: 0;
  opacity: 0;
  color: #828388;
  background-color: #e8eaf5;
  width: 90vw;
  min-width: 750px;
  transition: height 500ms, opacity 500ms;
}
.noteForm .iconWrapper {
  height: 45px;
  width: 45px;
  background-color: #616161;
  border-radius: 50%;
  margin: 0 10px;
}
.noteForm .formNameInput {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid;
  margin-right: 120px;
  text-align: center;
  resize: none;
  height: 60%;
}
.noteForm .formDropList {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  margin-right: 10px;
}
.noteForm .formContentInput {
  padding: 5px;
  border-radius: 5px;
  width: 30%;
  height: 60%;
  resize: none;
  margin: 0 auto;
  border: 1px solid;
}
.noteForm .formDateInput {
  padding: 5px;
  border-radius: 5px;
  width: 115px;
  height: 60%;
  resize: none;
  margin-left: 10px;
  margin-right: 60px;
  border: 1px solid;
  font-size: 12px;
  text-align: center;
}
.noteForm .resetNoteButton {
  height: 100%;
  width: 30px;
  background-color: #e8eaf5;
  border: 0;
  padding: 0;
}
.noteForm .resetNoteButton .resetNoteIcon {
  height: 20px;
  width: 20px;
  fill: #7a7a7a;
}

.noteFormSubmitBtn {
  width: 90vw;
  min-width: 750px;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #979595;
  font-size: 30px;
  transition: background-color 300ms;
}
.noteFormSubmitBtn:hover {
  background-color: #7c7b7b;
}

.statisticsTable {
  margin-top: 70px;
}
.statisticsTable .statisticsTableHeader .statisticsTitleCategory {
  padding-left: 75px;
  text-align: left;
}
.statisticsTable .statisticsTableHeader .statisticsHeaderLastElem {
  width: 350px;
  border-radius: 0 10px 10px 0;
}/*# sourceMappingURL=index.css.map */