@import "../sass/main.scss";

.chatsListSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatSection {
  // display: none;
  // background-color: red;
  height: 100%;
  width: 100vw;

  // @include mq(desktop) {
  //   display: flex;
  //   flex-direction: column;
  // }
}
