@import "../sass/main.scss";

.chatListSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatSection {
  display: none;

  @include mq(desktop) {
    display: flex;
    flex-direction: column;
  }
}
