.mainBlock {
  background-color: var(--mainGreyColor);
  padding: 20px 10px;
  border-bottom: 3px solid #e7e7e7;

  .personAvatar {
    margin-bottom: 20px;
  }

  .searchForm {
    width: 100%;
    position: relative;

    .searchIcon {
      position: absolute;
      top: 13px;
      left: 13px;
    }

    .searchInput {
      height: 40px;
      width: 100%;
      border: 2px solid #d7d7d7;
      border-radius: 20px;
      padding-left: 35px;
      transition: border-color 50ms linear;
      &:focus-visible {
        outline: 0px;
        border-color: #d78b00;
      }
    }
  }
}
