body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

h3,
p {
  margin: 0;
}

td,
th {
  padding: 0;
}

.table {
  position: relative;
  width: 90vw;
  min-width: 750px;
  font-family: "Roboto";
  text-align: center;
  border-spacing: 0 10px;

  .tableHeader {
    background-color: #999999;
    height: 40px;
    color: white;

    .headerTitleName {
      border-radius: 10px 0 0 10px;
    }

    .headerTitleCreated,
    .headerTitleDates {
      width: 120px;
    }
    .headerTitleCategory {
      width: 140px;
    }

    .headerButtonsBlock {
      margin-left: auto;
      border-radius: 0 10px 10px 0;

      .buttonsWrapper {
        display: flex;
        justify-content: flex-end;
        height: 40px;

        .tableButton {
          width: 30px;
          background-color: #999999;
          &:last-child {
            border-radius: 0 10px 10px 0;
          }

          .tableIcon {
            height: 20px;
            width: 20px;
            fill: white;
          }
        }
      }
    }
  }

  .tableNoteBlock {
    height: 70px;
    color: #828388;
    background-color: #e8eaf5;
    &:last-child {
      margin-bottom: 0;
    }

    .tableNoteNameBlock {
      display: flex;
      align-items: center;
      margin-left: 10px;
      height: 70px;

      .iconWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        background-color: #616161;
        border-radius: 50%;
        margin-right: 10px;

        .noteCategoryIcon {
          height: 20px;
          width: 20px;
          fill: white;
        }
      }
    }

    .tableText {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow-x: hidden;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none; // скрывает скроллбар со страницы
      }
    }

    .tableTextName {
      width: 110px;
    }

    .dates {
      width: 100px;
      margin: auto;
    }

    .tableButtonsBlock {
      display: flex;
      height: 70px;

      .noteButton {
        background-color: #e8eaf5;
        width: 30px;

        .noteButtonIcon {
          height: 20px;
          width: 20px;
          fill: #7a7a7a;
        }

        .firstIcon {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}

.createNoteForm {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: space-between;
  height: 0;
  opacity: 0;
  color: #828388;
  background-color: #e8eaf5;
  width: 90vw;
  min-width: 750px;
  transition: height 500ms, opacity 500ms;

  .iconWrapper {
    height: 45px;
    width: 45px;
    background-color: #616161;
    border-radius: 50%;
    margin: 0 10px;
  }

  .formNameInput {
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid;
    margin-right: 120px;
    text-align: center;
    resize: none;
    height: 60%;
  }
  .formDropList {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    margin-right: 10px;
  }
  .formContentInput {
    padding: 5px;
    border-radius: 5px;
    // max-width: 30vw;
    // max-height: 65px;
    width: 30%;
    height: 60%;
    resize: none;
    margin: 0 auto;
    border: 1px solid;
  }
  .formDateInput {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    margin-left: 10px;
    margin-right: 55px;
    cursor: text;
  }

  .resetNoteButton {
    height: 100%;
    width: 30px;
    background-color: #e8eaf5;
    border: 0;
    padding: 0;

    .resetNoteIcon {
      height: 20px;
      width: 20px;
      fill: #7a7a7a;
    }
  }
}

.createNoteBtn {
  width: 90vw;
  min-width: 750px;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #979595;
  font-size: 30px;
  transition: background-color 300ms;

  &:hover {
    background-color: #7c7b7b;
  }
}
