// %horizontalAfterRules {
//   position: absolute;
//   top: 0;
//   content: "";
//   outline: 1px solid rgb(211 211 211 / 55%);
// }

%verticalAfterRules {
  position: absolute;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  content: "";
  outline: 1px solid #93939378;
}

.alertText {
  max-width: 800px;
  font-size: 40px;
  font-weight: 500;
  color: white;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

.historyList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
  padding: 30px;

  .listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 330px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 4px rgba(172, 172, 172, 0.22);

    .removeTestBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      padding: 0;
      border: 0;
      transition: height 400ms, width 400ms;
      background-color: white;

      &:hover {
        .btnIcon {
          fill: #424242;
        }
      }

      .btnIcon {
        height: 0;
        width: 0;
        transition: height 400ms, width 400ms, fill 150ms;
      }
    }

    &:hover {
      .removeTestBtn {
        height: 30px;
        width: 30px;
        border-top-right-radius: 5px;

        .btnIcon {
          width: 20px;
          height: 20px;
        }
      }

      .creationDate {
        height: 20px;
        font-size: 15px;

        &::after {
          width: 100%;
          visibility: visible;
        }
      }
    }

    .statsBlock {
      margin-bottom: 3px;

      .statsText {
        margin-right: 16px;
        position: relative;

        &:after {
          @extend %verticalAfterRules;
          right: -8px;
        }

        &:last-child {
          margin-right: 0;

          &::after {
            display: none;
          }
        }
      }
    }

    .creationDate {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 0;
      width: 100%;
      font-size: 0;
      transition: height 400ms, font-size 400ms;

      &::after {
        // @extend %horizontalAfterRules;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        width: 0;
        visibility: hidden;
        top: 0;
        content: "";
        outline: 1px solid rgb(211 211 211 / 55%);
        transition: width 400ms, visibility 380ms;
      }
    }
  }
}
