*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: var(--mainFont);
  margin: 0;
  // max-width: 100vw;
}

div#root {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
