.ldsDualRing {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  &:after {
    position: absolute;
    content: "";
    display: block;
    top: 40%;
    left: 47%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    border-color: rgb(81, 0, 255) transparent rgb(255, 213, 0) transparent;
    animation: ldsDualRing 1.2s linear infinite;
  }

  @keyframes ldsDualRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
