.mainBlock {
  padding: 15px 0 5px 0;
}

.chatsListTitle {
  margin-left: 3vw;
  font-size: 24px;
  font-weight: lighter;
  color: #36a0da;
}

.chatsListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  padding: 0 3vw;
  border-bottom: 2px solid var(--mainBorderColor);

  &:last-child {
    border-bottom: 0;
  }
}
