.mainBlock {
  padding: 15px 3vw 5px 3vw;
}

.chatsListTitle {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: lighter;
  color: #36a0da;
}

.chatsListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  // padding-top: 25px;
  border-bottom: 2px solid var(--mainBorderColor);
  &:last-child {
    border-bottom: 0;
  }
}
